{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outhated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->
    


    <div id="header">
      <div class="bs-doc-header">
        <div class="container">
          <h1>Step 1 : APPLICATION FORM</h1>
          <h4>Explore your opportunities here!</h4>
          <div class="image-holder pull-right"><img src="{% static 'img/mascot.png' %}" ></div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="bs-docs-section" id='application-form'>
            <form method="POST" id="myform" class="form-horizontal" autocomplete="off" action="{% url 'application_form' %}">
              {% csrf_token%}

              <h3 id='step-2' style="color: #02be9b;">How did you learn about Manship?</h3>
            
              <h3 id='step-3' style="color: #02be9b;">Personal Data</h3>
              <div class="form-group">
                {% for name in applicant_name  %}
                  <div class="col-md-4">
                    {{ name }}
                    {{ name.errors }}
                  </div>
                {% endfor %}              
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  {{ personal_data.birth_date|add_class:"form-control date birth_date"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Birth" }}
                  {{ personal_data.birth_date.errors }}
                </div>
                <div class="col-md-4">
                  {{ personal_data.age|add_class:"form-control age"|attr:"data-toggle:tooltip"|attr:"placeholder:Age"|attr:"readonly"|attr:"title: Fill up your Date of Birth" }}
                  {{ personal_data.age.errors }}
                </div>
                <div class="col-md-4">
                  {{ personal_data.birth_place|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Place of Birth" }}
                  {{ personal_data.birth_place.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  {{ personal_data.landline_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Landline No. 1" }}
                  {{ personal_data.landline_1.errors }}
                </div>
                <div class="col-md-4">
                  {{ personal_data.mobile_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 1" }}
                  {{ personal_data.mobile_1.errors }}
                </div>
                <div class="col-md-4">
                  {{ personal_data.email_address_1|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Email Address 1" }}
                  {{ personal_data.email_address_1.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                  {{ personal_data.landline_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Landline No. 2" }}
                  {{ personal_data.landline_2.errors }}
                </div>
                <div class="col-md-4">
                  {{ personal_data.mobile_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Mobile No. 2" }}
                  {{ personal_data.mobile_2.errors }}
                </div>
                <div class="col-md-4">
                  {{ personal_data.email_address_2|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Email Address 2" }}
                  {{ personal_data.email_address_2.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  {{ personal_data.preferred_vessel_type|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Preferred Type of Vessel" }}
                  {{ personal_data.preferred_vessel_type.errors }}
                </div>
                <div class="col-md-6">
                  {{ personal_data.availability_date|add_class:"form-control date month-only"|attr:"data-toggle:tooltip"|attr:"placeholder:Date of Availability" }}
                  {{ personal_data.availability_date.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  {{ personal_data.sss|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:S.S.S. No." }}
                  {{ personal_data.sss.errors }}
                </div>
                <div class="col-md-6">
                  {{ personal_data.philhealth|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Philhealth No." }}
                  {{ personal_data.philhealth.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  {{ personal_data.tin|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:T.I.N." }}
                  {{ personal_data.tin.errors }}
                </div>
                <div class="col-md-6">
                  {{ personal_data.pagibig|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Pagibig No." }}
                  {{ personal_data.pagibig.errors }}
                </div>
              </div>
              <div class="form-group" >
                <div class="form-group bottom-zero">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <i><u>Permanent Address</u></i>
                      <span class="search-zip pull-right" data-params="permanent" style="">Search zip code</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  {{ permanent_address.permanent_unit|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Unit"|attr:"id:current_unit" }}
                  {{ permanent_address.permanent_unit.errors }}
                </div>
                <div class="col-md-2">
                  {{ permanent_address.permanent_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Street"|attr:"id:permanent_street" }}
                  {{ permanent_address.permanent_street.errors }}
                </div>
                <div class="col-md-2">
                  {{ permanent_address.permanent_baranggay|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Baranggay"|attr:"id:permanent_baranggay" }}
                  {{ permanent_address.permanent_baranggay.errors }}
                </div>
                <div class="col-md-4">
                  {{ permanent_address.permanent_municipality|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Municipality"|attr:"id:permanent_municipality" }}
                  {{ permanent_address.permanent_municipality.errors }}
                </div>
                <div class="col-md-2">
                  {{ permanent_address.permanent_zip|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:ZIP Code"|attr:"id:permanent_zip" }}
                  {{ permanent_address.permanent_zip.errors }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4">
                <input type="checkbox" id="same_address"> Same as above
                </div>
              </div>
              <div class="form-group">
                <div class="form-group bottom-zero">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <i><u>Current Address</u></i>
                      <span class="search-zip pull-right" data-params="current" style="">Search zip code</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  {{ current_address.current_unit|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Unit"|attr:"id:current_unit" }}
                  {{ current_address.current_unit.errors }}
                </div>
                <div class="col-md-2">
                  {{ current_address.current_street|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Street"|attr:"id:current_street" }}
                  {{ current_address.current_street.errors }}
                </div>
                <div class="col-md-2">
                  {{ current_address.current_baranggay|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Baranggay"|attr:"id:current_baranggay" }}
                  {{ current_address.current_baranggay.errors }}
                </div>
                <div class="col-md-4">
                  {{ current_address.current_municipality|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:Municipality"|attr:"id:current_municipality" }}
                  {{ current_address.current_municipality.errors }}
                </div>
                <div class="col-md-2">
                  {{ current_address.current_zip|add_class:"form-control"|attr:"data-toggle:tooltip"|attr:"placeholder:ZIP code"|attr:"id:current_zip" }}
                  {{ current_address.current_zip.errors }}
                </div>
              </div>

  
              <button class="btn btn-success form-control submit-application" >Submit Application</button>
              <br /> &nbsp;
            </form>
          </div>
        </div>
        {% include "application_form/sidebar.html" %}
      </div>
    </div>


    <div id="footer">
      <div class="container">
        <p>Princess Building, 104 Esteban Street, Legaspi Village, Makati City 1229, Philippines<br>
        Tel No.: +63 2 892 4071 to 74; Fax No.: +63 2 816 6993<br>
        Website:<a href="http://www.manship.com" title="Click here!" target="_blank" style="text-decoration: none; color: #fff;">&nbsp;www.manship.com</a> 
        E-mail:<a href="mailto:recruitment@manship.com" title="Click here!" target="_blank" style="text-decoration: none; color: #fff;">&nbsp;recruitment@manship.com</a></p>
        <p>&copy 2015 Manila Shipmanagement & Manning, Inc. All rights reserved.</p>
      </div>
    </div>
{% endblock %}
